.popup__input-error {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: #FF0000;
    display: block;
    margin-bottom: 13px;
}

.popup__input-error:nth-child(4) {
    margin-bottom: 31px;
}